*
/ClockPlus-master/alarmclock-22904-firebase-adminsdk-5h69c-6d28a8a884.json
/ClockPlus-master/app/google-services.json
/ClockPlus-master/app/src/main/res/values.xml

/clock-serverless/node_modules/*
/clock-serverless/firecast/functions/node_modules/*

